<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav w-100">
                {{#if logueado}}
                    <li class="nav-item ms-auto">
                        <p class="nav-link">Bienvenido {{usuario}}</p>
                    </li>
                    <li class="nav-item ms-auto">
                        <a href="/admin" class="nav-link"> Panel de administración </a>
                    </li>
                    <li class="nav-item ms-auto">
                        <a href="/logout" class="nav-link"> Cerrar Sesión </a>
                    </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/quienes-somos">Quienes somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/como-comprar">Como comprar</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/contacto">Contacto</a>
                </li>
                <li class="nav-item ms-auto">
                    <a href="/login" class="nav-link">Iniciar Sesión </a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>